---
import MainLayout from "@/layouts/MainLayout.astro";
import BoxContainer from "@/layouts/BoxContainer.astro";
import { Button } from "@/components/ui/button";
---

<MainLayout title="AM25 Labs">
  <BoxContainer>
    <!-- <Button>Lorem Ipsum</Button> -->
  </BoxContainer>
</MainLayout>
