---
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="AM25 Labs">
  <div class="grid grid-cols-8 px-4 gap-8">
    <div class="col-span-2"></div>
    <div class="col-span-4"></div>
    <div class="col-span-2"></div>
  </div>
</RootLayout>
