---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import { AccordionWrap } from "@/components/ui/custom/Accordion";
import type { ProjectItem } from "@/types";

interface Props {
  faq: ProjectItem[];
}

const { faq } = Astro.props;
---

<GridContainer class="pb-16">
  <GridTwo>
    <div class="col-span-full">
      <h2
        class="text-muted-foreground group-data-[variant=yellow]:text-black text-sm font-bold uppercase"
      >
        Frequently Asked Questions
      </h2>
    </div>
  </GridTwo>

  <GridFour>
    <div class="col-span-full">
      <AccordionWrap items={faq} client:load />
    </div>
  </GridFour>
</GridContainer>
