---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridSix from "@/layouts/grids/GridSix.astro";
import LogoTile from "@/components/LogoTile.astro";
import { getProjects } from "@/lib/plank/fetch";

const { data } = await getProjects({ onlyFeatured: true });
const projects = data.slice(0, 6);
---

<GridContainer class="pb-24">
  <GridTwo>
    <div class="col-span-full">
      <h2
        class="text-muted-foreground group-data-[variant=yellow]:text-black text-sm font-bold uppercase"
      >
        Featured projects
      </h2>
    </div>
  </GridTwo>

  <GridSix gap="gap-4">
    {
      projects.map((proj) => (
        <div class="col-span-1">
          <LogoTile
            logo={proj.icon ?? ""}
            title={proj.title}
            href={`/p/${proj.slug}`}
          />
        </div>
      ))
    }
  </GridSix>
</GridContainer>
