---

---

<div class="border-t border-neutral-900 my-8"></div>

<footer class="text-xs text-neutral-500">
  <a
    href="https://alemartir.com"
    target="_blank"
    rel="noopener"
    class="uppercase hover:underline"
    title="Alejandro Mártir"
  >
    &copy; Alejandro Mártir - AM25
  </a>
</footer>
