---

---

<div class="border-t border-neutral-900 my-8"></div>

<footer class="text-sm text-neutral-500">
  <a
    href="https://alemartir.com"
    target="_blank"
    rel="noopener"
    class="hover:underline"
    title="Alejandro Mártir"
  >
    &copy; {new Date().getFullYear()} AM25
  </a>
</footer>
