---
import BoxContainer from "@/layouts/BoxContainer.astro";
import { Separator } from "@/components/ui/separator";

const year = new Date().getFullYear();
---

<Separator />

<BoxContainer>
  <footer class="text-neutral-500 text-xs text-center md:text-left my-8">
    <a
      href="https://alemartir.com"
      target="_blank"
      rel="noopener"
      class="uppercase hover:underline"
      title="Alejandro Mártir"
    >
      &copy; {year} Alejandro Mártir - AM25
    </a>
  </footer>
</BoxContainer>
