---
import { Separator } from "@/components/ui/separator";

const year = new Date().getFullYear();
---

<Separator />

<footer class="max-w-7xl mx-auto text-xs text-neutral-500 my-8">
  <a
    href="https://alemartir.com"
    target="_blank"
    rel="noopener"
    class="uppercase hover:underline"
    title="Alejandro Mártir"
  >
    &copy; {year} Alejandro Mártir - AM25
  </a>
</footer>
