---
import type { GridProps } from "@/types";

type Props = GridProps;

const { class: className } = Astro.props;
---

<section class:list={["col-span-2", className]}>
  <div class="grid grid-cols-2 gap-4">
    <slot />
  </div>
</section>
